/* Custom CSS */

input {
  display: block;
  margin-bottom: 0.7rem;
}

input[type="submit"] {
  margin-top: 1rem;
}

body {
  margin: 0.8rem;
}

nav {
  max-width: 75ch;
}

nav>a,
footer>a {
  margin-right: 1.1rem;
}

footer {
  margin-top: 2.7rem;
}