<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/modules/head.js"></script>
  <title>Login</title>
</head>

<body>
  <nav>
    <script src="/modules/nav.js"></script>
  </nav>

  <h1>Login</h1>

  <form>
    <label for="email">Email</label>
    <input type="text" name="email">

    <label for="password">Password</label>
    <input type="text" name="password">

    <input type="submit" value="Submit">
  </form>

  <footer>
    <script src="/modules/footer.js"></script>
  </footer>
</body>

</html>