<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/components/head.js"></script>
  <title>Sign Up</title>
</head>

<body>
  <nav>
    <script src="/components/nav.js"></script>
  </nav>

  <h1>Sign Up</h1>

  <form>
    <label for="email">Email</label>
    <input type="text" name="email">

    <label for="password">Password</label>
    <input type="text" name="password">

    <input type="submit" value="Submit">
  </form>
  <script type="module" src="/modules/signUp.js"></script>

  <footer>
    <script src="/components/footer.js"></script>
  </footer>
</body>

</html>